apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: devfile-sample-kacz
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: devfile-sample-kacz
    app.kubernetes.io/part-of: ci1t-830-0002-app
  name: devfile-sample-kacz
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: devfile-sample-kacz
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: devfile-sample-kacz
    spec:
      containers:
      - image: quay.io/stonesoup_perfscale/ci1t-830-0002-tenant/ci1t-830-0002-app/devfile-sample-kacz@sha256:54ac034fdcb5d11824161f0d7e465e030cc6a52ca53dc71536bdff40c408cd5c
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
